{# This is configuration site_3 #}
server {
{% block body %}
        listen 443 ssl;
	server_name {{domain_name}};
	ssl_certificate     /etc/letsencrypt/certs/{{domain_name}}.crt;
	ssl_certificate_key /etc/letsencrypt/keys/{{domain_name}}.key;
        root /var/www/html;
	index {% for index in indexes %} {{ index }} {% endfor %};
{% endblock %}
{% block location %}
	location / {
		add_header Content-Type text/html;
		set $str "Hello site ! THIS IS SSL!!!";
		return 200 $str;
	}
{% endblock %}
}
